#rectangle{
    width:200px;
    height:100px;
    background-color: transparent;
}
#container {
    background-color: transparent;
    width: 180px;
  }

  @media only screen and (max-width: 500px) {
    body {
      min-height: 385px;
    }

    #container {
      width: 55px;
    }

    .e-colorpicker-wrapper {
      margin-top: 55%;
    }
  }
  #carre {
    height: 55px;
    width: 55px;
    background-color: transparent;
  margin-top: 20%;
  margin-left: 60%;
}
#cercle {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: color;
}
.carre{
    margin-left: 30%;
    margin-top: -9%;
}
.cercle{
    margin-left: 80%;
    margin-top: -3%;
}
body {
  background: rgb(15 19 22);
  padding: 1rem;
}
