.form-container{
     margin-left: 30%;
    width: 30%;
    height: 20%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1 rem;
    text-align: center;
}