<ng-container *ngIf="user$ | async as user">
    <h1>Bienvenue sur la page d'accueil, {{user.displayName}}!</h1>
    <div class="carte">
       <h2>Carte de visite gratuite et payante</h2> 
Besoin d'idées et d'exemples de carte de visite <br>gratuites pour être inspiré ? Ne cherchez plus, Asmaa design <br>
 vous offre des centaines de modèles de cartes de visite de tous styles ! <br>
Imprimez-la vous-même gratuitement ou avec des tarifs raisonnables ou confiez-nous son impression !
<div class="im"><img src="../../../assets/images/Capture-removebg-preview.png"></div>
    </div>
</ng-container>
<section>
    <div class="example-label"></div>
    <div class="example-button-row">
      <button mat-raised-button>Beauté</button>
      <button mat-raised-button>vetement</button>
      <button mat-raised-button>Musique</button>
      <button mat-raised-button>Restaurant</button>
      <button mat-raised-button>Medecine</button>
      <button mat-raised-button>Nettoyage</button>
      <button mat-raised-button>Education</button>
      
    </div>
  </section>
  <p style="margin-top: 20px;"> 19 modèles</p>
  <mat-grid-list cols="5" rowHeight="110px">
    
    <mat-grid-tile ><img (click)="producte()"  src="../../../assets/images/a.PNG"></mat-grid-tile>
    <mat-grid-tile ><img (click)="i1()"  src="../../../assets/images/az.png"></mat-grid-tile>
    <mat-grid-tile ><img (click)="i2()"  src="../../../assets/images/ss.PNG"></mat-grid-tile>
    <mat-grid-tile ><img (click)="i3()"  src="../../../assets/images/d.PNG"></mat-grid-tile>
    <mat-grid-tile ><img (click)="i4()"  src="../../../assets/images/ea.PNG"></mat-grid-tile>
    <mat-grid-tile ><img (click)="i5()"  src="../../../assets/images/f.PNG"></mat-grid-tile>
    <mat-grid-tile ><img (click)="i6()"  src="../../../assets/images/g.PNG"></mat-grid-tile>
    <mat-grid-tile ><img (click)="i7()"  src="../../../assets/images/k.PNG"></mat-grid-tile>
    <mat-grid-tile ><img (click)="i8()"  src="../../../assets/images/l.PNG"></mat-grid-tile>
    <mat-grid-tile ><img (click)="i9()"  src="../../../assets/images/m.PNG"></mat-grid-tile>
    <mat-grid-tile ><img (click)="i10()"  src="../../../assets/images/n.PNG"></mat-grid-tile>
    <mat-grid-tile ><img (click)="i11()"  src="../../../assets/images/p.PNG"></mat-grid-tile>
    <mat-grid-tile ><img (click)="i12()"  src="../../../assets/images/q.PNG"></mat-grid-tile>
    <mat-grid-tile ><img (click)="i13()"  src="../../../assets/images/r.PNG"></mat-grid-tile>
    <mat-grid-tile ><img (click)="i14()"  src="../../../assets/images/s.PNG"></mat-grid-tile>
    <mat-grid-tile ><img (click)="i15()"  src="../../../assets/images/va.PNG"></mat-grid-tile>
    <mat-grid-tile ><img (click)="i16()"  src="../../../assets/images/w.PNG"></mat-grid-tile>
    <mat-grid-tile ><img (click)="i17()"  src="../../../assets/images/aa.PNG"></mat-grid-tile>
    <mat-grid-tile ><img (click)="i18()"  src="../../../assets/images/bb.PNG"></mat-grid-tile>
    <mat-grid-tile ><img (click)="i19()"  src="../../../assets/images/cc.PNG"></mat-grid-tile>
   

  </mat-grid-list>
