.img{
    margin-right: 10%;
    width: 30%;
    margin-top: 10%;
}
.img1{
    width: 30%;
    margin-left: 40%;
    margin-top: -22%;
}
.img2{
    width: 30%;
    margin-left: 70%;
    margin-top: -12%;

}