.sign-up-link {
    font-size: 1.2rem;
    margin-left: 8px;
    
}
.form-container{
    margin-left: 30%;
   width: 400px;
   height: 30%;
   flex-direction: column;
   justify-content: center;
   align-items: center;
  
   text-align: center;
}
